.section {
  padding: 15px;
}

.section__h1 {
  text-align: center;
}

.section__paragraph {
  font-size: 20px;
  padding: 5px;
}

.section__button--underscore {
  color: hsl(0, 0%, 0%);
  background-color: hsl(0, 0%, 100%);
  border-style: none;
  font-size: 14px;
  padding: 8px;
  margin: 5px;
}

.section--bold {
  font-weight: bold;
}

.section__button {
  background-color: hsl(0, 0%, 100%);
  border-style: none;
  font-size: 14px;
  padding: 8px;
  margin: 5px;
}

.section__button--link {
  color: hsl(0, 0%, 0%);
  text-decoration: none;
}